<style>
    .precio{
        position: relative;
        
        margin-top:  -10%;
    }.cantidad{
        
        position: relative;
        bottom: -38px;

    }.name{
        position: relative;
        left: 20px;
        
    }.detalle{
        position: relative;
        bottom: -40px;
    }div.card{
        box-shadow: 8px 8px 30px 4px;
    }
</style>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Pedido</title>
</head>

<body>
    <center class="mt-4">
        <h1>Detalle del Pedido</h1>
    </center>

    {{#if id_stat}}
    hOLA
    {{/if}}

    <center class="mt-5">
        <div class="card" style="width: 28rem;">
            <img src="https://cdn-icons-png.flaticon.com/512/2734/2734039.png" class="card-img-top" alt="...">

                <div class="card-body">
                    <div class="detalle">
                        <h4 class="text-start fs-3">Detalle:</h4>
                    </div>
                    {{#each deta}}
                        <div class="cantidad">
                            <h4 class="text-start">{{cantidad}}</h4>
                        </div>
                        <div class="name">
                            <h4 class="text-start">{{name}}</h4>
                        </div>
                        
                    <div class="precio">
                        <h4 class="text-end fs-3">Precio c/u: {{precio}}</h4>
                    </div>
                        
                        <hr>
                    {{/each}}                
                    
                </div>  
                <form action="/pedidos/marcar" class="mx-2" method="post">
                    {{#each deta}}
                    <input type="hidden" name="folio" id="folio" value="{{folio}}">
                    {{/each}}
                    <button class="btn btn-success  fs-5 w-100 mt-2 " type="submit"> ✓ </button>
                </form>
            </div>
        </div>
    </center>
    <br><br><br>
</body>
</html>