<!--Indica la versión de HTML que se usó para escribir el documento e idioma.-->
<!DOCTYPE html>
<html lang="es">

<head>
    <!--caracteristicas del archivo,tipo de letra etc-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans+JP&display=swap"
        rel="stylesheet">
    <title>Inicio</title>
    <link rel="stylesheet" href="styles/estilos.css">
    <link rel="stylesheet" href="imagenes/momo.ico">
</head>
<!--Cuerpo de el home-->

<body class="bg-gray-200">
    <!--Texto en el body que da la bienvendida al usuario con su nombre gracias a "{{name}}" -->
    <h1 class="text-center  mt-4">Bienvenido de Nuevo {{name}}</h1>
   <center class="mt-5">
        
        <img src="https://i.pinimg.com/originals/de/dc/25/dedc25f0ffe2622c2ab7f325ea2bc9f2.gif" alt="" width="30%">

    </center>
    
    
</body>

</html>