<style>
  .metta-cafetery {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5rem;
    margin-top: -53px;
  }
</style>
<!--Indica la versión de HTML que se usó para escribir el documento e idioma.-->
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--titulo de la pagina web-->
  <title>Personal Metta Cafetery</title>
  <!-- Tailwind CSS Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
  <!-- Fontawesome Link -->
  <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2734/2734039.png">
</head>
<!--caracteristicas de la pagina web-->

<body class="bg-gray-200">
  <!--color del encabezado-->
  <div class="encabezado">
    <nav class="flex py-2 bg-white  px-0 ">
      <div class="w-100px px-12 mr-auto mb-3" href="/">
        <!--titulo del encabezado-->
        <a class="navbar-brand " href="/">
          <img src="https://cdn-icons-png.flaticon.com/512/2734/2734039.png" width="80" height="80"
            class="d-inline-block align-top" alt="">
          <div class="metta-cafetery">
            <span class="fs-4">Metta Cafetery</span>
          </div>
        </a>
      </div>
      <!--Imagen del encabezado-->
      <!--<img class="img-fluid px-1 py-2" src="https://cdn-icons-png.flaticon.com/512/2734/2734039.png" width="90px" height="80px" >-->
      <ul class="w-1/2 px-1 ml-auto flex justify-end pt-1">
        <!--si el nombre es correcto apareceran los siguientes 3 botones -->
        {{#if contador}}
        <div class="container-icon">
          <div class="carrito">
            <a href="/carrito" class="bg-yellow-900 ">
              <svg xmlns="http://www.w3.org/2000/svg" width="90px" height="50px" fill="black" class="bi bi-bag"
                viewBox="0 0 16 16">
                <path
                  d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
              </svg>
            </a>
            <div class="contador-productos">
              {{#if contador}}
              <span>{{contador}}</span>
              {{/if}}
            </div>
            <!--<a href="/carrito" class="text-white hover:text-black nav-link font-semibold border-2 border-white hover:bg-yellow-800 py-3 px-3 rounded-pill">Carrito</a>-->
          </div>
        </div>
        {{/if}}
        {{#if name}}


        <li class="nav-item px-4">
          <!--boton que cierra sesion-->
          <a href="/logout" class="btn btn-outline-danger btn-lg mt-2">Logout</a>
        </li>

        <li class="nav-item px-4">
          <!--boton para ver los pedidos-->
          <a href="/pedidos" class="btn btn-outline-primary btn-lg mt-2">Pendientes</a>
        </li>
        
        <li class="nav-item px-4"> 
        <a href="/terminado" class="btn btn-outline-primary btn-lg h-12 mt-2">Terminados</a>
        </li>
        <li class="nav-item px-4">
          <!--boton para ver los pedidos pagados-->
          <a href="/pagado" class="btn btn-outline-primary btn-lg mt-2">Pagados</a>
        </li>
        <li class="nav-item px-4">
          <!--boton para ir hacia el archivo de personal-->
          <a href="/entregado" class="btn btn-outline-primary btn-lg mt-2">Entregados</a>
        </li>
        <!--<img class="img-fluid" src="https://cdn.icon-icons.com/icons2/2483/PNG/512/user_icon_149851.png" width="60px" height="60px" />-->

        <i class="px-2 mt-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-person-circle"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
          </svg>
        </i>




        <span class="fs-4 mr-4 mt-2">{{name}}</span>
        {{/if}}
      </ul>
    </nav>

  </div>
  {{{body}}}
  <!--se cierran las etiquetas-->
</body>
</html>